ol,ul{list-style: none;}
.mll-footer{
    width:100%;
    padding-top:70px;
}
.mll-footer .footer-icon{
    background: #f8f8f8;
    padding: 35px 0;
    border-bottom: 1px solid #ededed;
    text-align: center;
}
.view_{
    width:1190px;
    margin:0 auto;
    clear: both;
}
.mll-footer .footer-icon a{
    display: inline-block;
    width:122px;
    height:80px;
    text-decoration: none;
}
.view_ i{
    width:50px;
    height:50px;
    display: inline-block;
    background:url("../image/footericon.png") no-repeat;
    margin:0 auto;
}
.view_ .icon2{
        background-position: -50px 0;
}
.view_ .icon3{
    background-position: -100px 0;
}
.view_ .icon4{
    background-position: -150px 0;
}
.view_ .icon5{
    background-position: 0 -50px;
}
.view_ .icon6{
    background-position: -50px -50px;
}
.view_ .icon7{
    background-position: -100px -50px;
}
.view_ .icon8{
    background-position: -150px -50px;
}
.view_ span{
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #000;
    text-align: center;
    margin-top: 10px;}
.mll-footer .footer-help{
    background: #f8f8f8;
    padding: 35px 0 54px;
}
.mll-footer .footer-help ul li{
    list-style: none;
}
.mll-footer .footer-help .summary{
    width:240px;
    height:165px;
    float:left;
}
.mll-footer .footer-help .summary .s1{
    font-size:14px;
    line-height:19px;
}
.mll-footer .footer-help .summary .s2{
    font-size: 20px;
    color: #e62318;
    margin: 5px 0;
}
.mll-footer .footer-help .summary .s3{
    color: #999;
    margin-bottom: 30px;
    font-size:14px;
}
.mll-footer .footer-help .summary .red{
    color:#e62318!important;
}
.mll-footer .footer-help .footer_view{
    width:1200px;
    margin:0 auto;
}
.mll-footer .footer-help .summary a,.mll-footer .footer-help .summary a{
    display: inline-block;
    color: #e62318;
    border: 1px solid #e62318;
    text-decoration: none;
    width: 116px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    padding-left: 10px;
    position: relative;
    font-size:14px;
    margin-top:10px;
}
.mll-footer .footer-help .article .clearfix{
    width: 910px;
    float: right;
}
.mll-footer .footer-help .article dl{
    float:left;
    width:127px;
}
.mll-footer .footer-help .article dt{
    color: #444;
    font-size: 14px;
    padding: 3px 0 5px;
    text-align: center;
}
.mll-footer .footer-help .article dd a{
    display: block;
    color: #999;
    margin-top: 9px;
    font-size: 12px;
    text-decoration: none;
}
.mll-footer .footer-help .article img,.mll-footer .footer-help .article img{
    width:80%;
}
.mll-footer .footer-help .both{
    clear: both;
}
/*最底部*/
.mll-footer .footer-extend{
    background: #1f1f1f;
    padding: 21px 0 30px;
    color:#999;
    font-size: 12px;
}
.mll-footer .footer-extend a{
    text-decoration: none;
    color: #999;
}
.mll-footer .footer-extend a:hover{
    color:#e62318;
}
.mll-footer .footer-extend .footer-link{
    border-bottom: solid 1px #2e2e2e;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width:1200px;
    margin:0 auto;
}
.mll-footer .footer-extend .footer-link a{
    display: inline-block;
    margin: 2px 6px;
}
.mll-footer .footer-extend .footer-copyrights{
    position: relative;
    color: #777;
    width:1200px;
    margin:0 auto;
}
.mll-footer .footer-extend .footer-copyrights .copyrights{
    height: 40px;
}
.mll-footer .footer-extend .footer-copyrights .copyrights li{
    height: 20px;
    line-height: 20px;
}
.mll-footer .footer-extend .footer-copyrights .credit{
    position: absolute;
    top:0px;
    right:0px;
}