.nav{
    width:1360px;
    padding:1px 80px;
    height:30px;
    line-height: 30px;
    background: #f8f8f8;
}
.dh-left{
      list-style: none;
      width:260px;
      float: left;
      height:30px;
      line-height: initial;
      
}
.dh-left li{
    float:left;
    text-align: center;
    margin:5px 5px;
    font-size:13px;
}
.dh-left li a{
    text-decoration: none;
    color:#717171;
}
.dh-left li a:hover{
    color:#f00;
}
.dh-left .first-a{
    color:#f00 !important;
    font-weight: bold;
}
.dh-right{
    width:500px;
    float: right;
}
.dh-right li{
    float:left;
    list-style: none;
    font-size:13px;
    text-align: center;
    margin:0 5px;
}
.dh-right li a{
    text-decoration: none;
    color:#717171;
}
.search{
    width:1200px;
    margin:0 auto;
  
}
.input-search{
    width:600px;
    height:40px;
    line-height:40px;
    padding:10px;
    background: #f0f0f0;
    border:0;
    outline: 0;
   color:#000;
   font-size:15px;
}

.wuliu-search{
    display: inline-block;
    vertical-align: middle;
}
.search-center{
    width:550px;
    display:inline-block;
    margin:2px 100px;
 }
.search-logo{vertical-align: middle;}
.search-n li{
          float: left;
          list-style: none;
          text-align: center;
          margin:0 5px;
}
.search-n li a{
    color:#999999;
    text-decoration: none;
    font-size:15px;
}
.search-n li .active{
    color:#FF6600;
}
.search-n li a:hover{
    color:#e62318;
}
.contentr{
    width:1360px;
    position: relative;
    text-align: center;
}
.asdio-left{
    width:230px;
    text-align: left;
    position: absolute;
    top:0px;
    left:-20px;
}
.asdio-left h2{
    text-align: center;
    background: rgba(241,13,0,0.9);
     font-weight: normal;
     font-size:18px;
     padding:3px 0;
    color:#fff;
}
.asdio-left ul{
    padding:18px 20px;
    background:rgba(0,0,0,0.3);
}
.asdio-left ul li{
    list-style: none;
    font-size:13px;
    height:30px;
    line-height:30px;
    width:210px;
    position: relative;
    display:inline-block;
}

.asdio-left ul li:hover{
    background-color:#c8c8c8;
}
.asdio-left ul li i img{
    vertical-align: middle;
}
.asdio-left ul li a{
    text-decoration: none;
    color:#f0f0f0;
    margin:0 2px;

}
.asdio-left li span{
    color:#fff;
}
/*左侧鼠标滑动第一块*/
.asdio-left .diszt{
    width:800px;
    height:457px;
    background:#fff;
    position: absolute;
    top:-18px;
    left:210px;
    padding-left: 10px;
    z-index:100px;
    display: none;
}
.asdio-left .disleft{
    width:100px;
    padding:0 18px;
    display:inline-block;
    float:left;
}
.asdio-left .disleft p{
    height:60px;
    line-height:60px;
font-weight: bold;
color:#000;
}
.asdio-left .disleft p a{
    font-weight: bold;
    color:#000;
    }
.asdio-left .discenter{
    display:inline-block;
    float:left;
    width:450px;
    padding:0 10px 0 30px;
}
.discenter-p{
    margin-top:11px;
    display:inline-block;
}
.discenter-p .p-middle{
    line-height:60px;
}
.asdio-left .discenter p{
    height:60px;
    border-bottom:1px dotted #999;
    marign:0;
}
.asdio-left .discenter p a{
    letter-spacing: 1px;
    display:inline-block;
    padding:0 3px;
    color:#999;
    font-size:12px;
}
.asdio-left .discenter p a:hover{
    color:#e62318;
}
.asdio-left .disright{
    padding:12px 0 10px 10px;
    width:200px;
    display: inline-block;
}
.asdio-left .disright .image1{
    padding:25px 10px 10px 18px;
}
.asdio-left .disright a{
    color:#999;
    display:inline-block;
    margin:0 9px;
    font-size:12px;
}
.asdio-left .disright a:hover,.asdio-left .disright .active{
    color:#e62318;
}
.asdio-left ul li:hover .diszt{
    display: block;
}
/*左侧鼠标滑动第二块*/
.asdio-left .diszt1{
    width:650px;
    height:457px;
    background:#fff;
    position: absolute;
    top:-48px;
    left:210px;
    padding-left: 10px;
    z-index:100px;
    display: none;
}
.asdio-left .disleft1{
    width:80px;
    padding:11px 0 11px 15px;;
    display:inline-block;
    float:left;
}
.asdio-left .disleft1 p{
    height:120px;
font-weight: bold;
color:#000;
}
.asdio-left .disleft1 p a{
    font-weight: bold;
    color:#000;
    }
.asdio-left .discenter1{
    display:inline-block;
    float:left;
    width:340px;
    padding:0 10px 0 10px;
}
.discenter1-p{
    margin-top:11px;
    display:inline-block;
}
.asdio-left .discenter1 p{                                             
    border-bottom:1px dotted #999;
    padding:5px;
}
.asdio-left .discenter1 p a{
    letter-spacing: 1px;
    display:inline-block;
    padding:0 3px;
    color:#999;
    font-size:12px;
}
.asdio-left .discenter1 p a:hover,.asdio-left .discenter1 p .active{
    color:#e62318;
}
.asdio-left .disright1{
    padding:12px 0 5px;
    width:150px;
    display: inline-block;
}
.asdio-left .disright1 .tjpp{width:200px;}
.asdio-left .disright1 .tjpp a{
    display:inline;
    margin:0;
    padding:0 10px;;
}
.asdio-left .disright1 .image1{
    padding:10px;
}
.asdio-left .disright1 a{
    color:#999;
    display:inline-block;
    margin:0 10px;
    font-size:12px;
}
.asdio-left .disright1 a:hover,.asdio-left .disright1 .active{
    color:#e62318;
}
.asdio-left ul li:hover .diszt1{
    display: block;
}
/*左侧鼠标滑动第三块*/
.asdio-left .diszt2{
    width:650px;
    height:457px;
    background:#fff;
    position: absolute;
    top:-78px;
    left:210px;
    padding-left: 10px;
    z-index:100px;
    display: none;
}
.asdio-left ul li:hover .diszt2{
    display: block;
}
/*左侧鼠标滑动第四块*/
.asdio-left .diszt3{
    width:650px;
    height:457px;
    background:#fff;
    position: absolute;
    top:-108px;
    left:210px;
    padding-left: 10px;
    z-index:100px;
    display: none;
}
.asdio-left ul li:hover .diszt3{
    display: block;
}
/*左侧鼠标滑动第五块*/
.asdio-left .diszt4{
    width:650px;
    height:457px;
    background:#fff;
    position: absolute;
    top:-138px;
    left:210px;
    padding-left: 10px;
    z-index:100px;
    display: none;
}
.asdio-left ul li:hover .diszt4{
    display: block;
}
/*左侧鼠标滑动第六块*/
.asdio-left .diszt5{
    width:650px;
    height:457px;
    background:#fff;
    position: absolute;
    top:-168px;
    left:210px;
    padding-left: 10px;
    z-index:100px;
    display: none;
}
.asdio-left ul li:hover .diszt5{
    display: block;
}
/*左侧鼠标滑动第七块*/
.asdio-left .diszt6{
    width:650px;
    height:457px;
    background:#fff;
    position: absolute;
    top:-198px;
    left:210px;
    padding-left: 10px;
    z-index:100px;
    display: none;
}
.asdio-left ul li:hover .diszt6{
    display: block;
}
/*左侧鼠标滑动家具建材*/
.asdio-left .diszt-jj{
    width:800px;
    height:457px;
    background:#fff;
    position: absolute;
    top:-228px;
    left:210px;
    padding-left: 10px;
    z-index:100px;
    display: none;
}
.asdio-left ul li:hover .diszt-jj{
    display: block;
}
/*左侧鼠标滑动家具建材1*/
.asdio-left .diszt-j1{
    width:650px;
    height:457px;
    background:#fff;
    position: absolute;
    top:-258px;
    left:210px;
    padding-left: 10px;
    z-index:100px;
    display: none;
}
.asdio-left ul li:hover .diszt-j1{
    display: block;
}
/*左侧鼠标滑动家具建材2*/
.asdio-left .diszt-j2{
    width:650px;
    height:457px;
    background:#fff;
    position: absolute;
    top:-288px;
    left:210px;
    padding-left: 10px;
    z-index:100px;
    display: none;
}
.asdio-left ul li:hover .diszt-j2{
    display: block;
}
/*左侧鼠标滑动优选风格*/
.asdio-left .diszt-style{
    width:800px;
    height:457px;
    background:#fff;
    position: absolute;
    top:-318px;
    left:210px;
    padding-left: 10px;
    z-index:100px;
    display: none;
}
.asdio-left ul li:hover .diszt-style{
    display: block;
}
/*左侧鼠标滑动优选风格1*/
.asdio-left .diszt-style1{
    width:650px;
    height:457px;
    background:#fff;
    position: absolute;
    top:-348px;
    left:210px;
    padding-left: 10px;
    z-index:100px;
    display: none;
}
.asdio-left ul li:hover .diszt-style1{
    display: block;
}
/*左侧鼠标滑动优选风格2*/
.asdio-left .diszt-style2{
    width:650px;
    height:457px;
    background:#fff;
    position: absolute;
    top:-378px;
    left:210px;
    padding-left: 10px;
    z-index:100px;
    display: none;
}
.asdio-left ul li:hover .diszt-style2{
    display: block;
}
/*左侧鼠标滑动优选风格1*/
.asdio-left .diszt-style3{
    width:650px;
    height:457px;
    background:#fff;
    position: absolute;
    top:-408px;
    left:210px;
    padding-left: 10px;
    z-index:100px;
    display: none;
}
.asdio-left ul li:hover .diszt-style3{
    display: block;
}
/*中部导航*/
.center-nav{
    width:930px;
    height:30px;
    line-height:30px;
    margin:0 auto;
}
.center-nav li{
    list-style: none;
    float: left;
    text-align: center;
    margin:0 8px;  
}
.center-nav li a{
    font-size:16px;
    color:#333;
    text-decoration: none;
    letter-spacing: 2px;
}
.center-nav li a:hover,.center-nav li .active{
    color:#f00;
}
.center-banner{
    width:1360px;
    margin-left:-100px;
}
.center-banner img{
    width:1460px;
    height:457px;
}
.center-banner1,.center-banner2,.center-banner3{
display:none;
}
.first-h{
    width:1360px;
  
    height:50px;
    line-height: 50px;
}
.first-one{
    width:1360px;
}
.first-one a{
    text-decoration: none;
}
.one-group{
    width:1360px;
    margin:50px 0;
    
}
.one-group a{
    text-decoration: none;
}
.one-group img{
    padding:0 4px;
}
.one-group1{
    display: inline-block;
    position: relative;
}
.group-box{
    width:220px;
    height:105px;
    background:#fff;
    padding:10px;
    margin:0 auto;
    position:absolute;
    top:40px;
    left:100px;
}
.group-box1{
    border:1px solid #ececec;
    width:200px;
    padding:5px 22px;
    
}
.group-p1{
    display:block;
    font-size:26px;
    text-align: center;
    color:#333;
    padding:5px 0px;

}
.group-p2{
    display:block;
    font-size:14px;
    padding:5px 15px;
    color:#7d7979;
    border-top:1px dashed #dfd3e9;
   
}
.one-group2{
    display: inline-block;
    position: relative;
}
.group-box2{
    position: absolute;
    top:45px;
    left:50px;

}
.group-p3{
    display:block;
    font-size:26px;
    text-align: center;
    color:#333;
    padding:5px 0px;

}
.group-p4{
    display:block;
    font-size:14px;
    padding:5px 15px;
    color:#7d7979;
}
.new{
    margin-top:30px;
    text-align:center;
}
.new>div{
    display:inline-block;
    margin:0 1.56px;
}
.new-1{
    position: relative;
}
.new-ab1{
    position: absolute;
    top:290px;
    left:80px;
}
.new a{
    text-decoration: none;
    display: block;
    color:#fff;
    padding:6px 0px;
    font-size:14px;
}
.new .new-1-1{
    font-size:25px;
    border-bottom:2px solid #fff;
}
.new-2{
    position: relative;
}
.new-ab2{
    position: absolute;
    top:290px;
    left:80px;
}
.new-1-3{
    color:#f00;
}
.new-3{
    position: relative;
}
.new-ab3{
    position: absolute;
    top:290px;
    left:80px;
}
.new-1-3{
    color:#f00;
}
.top h2{
        margin:30px 0 20px;
}
.top>div{
    float:left;
    margin:0 3px;
}
.top a{
    text-decoration: none;
    color:#000;
    font-size:14px;
}
.top-1{
    position: relative;
}
.top-ab1{
    position: absolute;
    top:50px;
    left:35px;
}
.top .top-text1{
    font-size:20px;
}
.top .top-text2{
    color:#333;
}
.top .top-text3{
    color:#e62318;
}
.top-3{
    position: relative;
}
.top-ab3{
    position: absolute;
    top:50px;
    left:35px;
}
.top-4{
    position: relative;
}
.top-ab4{
    position: absolute;
    top:50px;
    left:35px;
}
.top-2{
    position: relative;
}
.top-ab2{
    position: absolute;
    top:300px;
    left:130px;
    background: rgba(255,255,255,0.85);
    padding:20px 50px;
    text-align: center;
}
.top-ab2 p{
    padding:5px 0;
}
.border-1{
      border-bottom:1px dashed #000;
}
.clear{
    clear: both;
}
.topb h2{
        margin:30px 0 20px;
}
.topb .topb-ta{
    display:inline-block;
    margin-right:5px;
    background:#f5f5f5;
}
.topb .topb-ta .topb-tb{
    padding:10px 20px;
    height:230px;
}
.topb div a{
       text-decoration: none;
}
.topb .titie-bt{
    color:#333;
    font-size:18px;
}
.topb a{
    color:#999;
    font-size:14px;
}
.topb a:hover{
    color:#e62318;
}
.topb span{
    color:#e62318;
    font-size:14px;
}
.topb div ul{
    margin:0 auto;
}
.topb div ul li{
    list-style: none;
    float:left;
    text-align: center;
}
.topb .topb-ta .topb-tb p{
    font-size:13px;
    color:#999;
}
/* 中部各种轮播 */
/*鼠标经过图片放大*/
.image-hover img:hover{
    transform: scale(1);
    transition: transform 1.5s;}
.room{
    margin:50px 0 20px;
    position: relative;
}
.room-lf{
    width:220px;
    position: absolute;
    top:45px;
    left:40px;
    background: #fff;
    text-align: center;
    padding:20px;
}
.room-kt{
    font-size:40px;
}
.title-t{
    margin-top:30px;
}
.title-t a{
    float: left;
    width:80px;
    display:block;
    background:#f5f5f5;
    margin:2px 4px;
    height:30px;
    line-height:30px;
    font-size:14px;
    
}
.room-lf a{
    text-decoration: none;
    color:#333;
}
.live-room a{
    font-size:12px;
}
.live-room a:hover{
    color:#999;
}
.title-t a:hover{
    background:#e62318;
}
.room-bottom{
    width:720px;
    background:rgba(0,0,0,0.9);
    position: absolute;
    bottom:4px;
    right:30px;
}
.room-bottom li{
    list-style: none;
    float: left;
    height:35px;
    line-height:35px;
    width:90px;
    text-align: center;
}
.room-bottom li a{
    text-decoration: none;
    color:#fff;
    font-size:14px; 
    display: block;
}
.room-bottom li a:hover{
     color:#000;
    background:#fff;
}
/* 客厅各种轮播 */
.bannern1 div,.bannern2 div,.bannern3 div,.bannern4 div,.bannern5 div,.bannern6 div,.bannern7 div,.bannern8 div{
    display: inline-block;
    text-align:center;
}
.bn-left1,.bn-left2{
    margin:0 11.2px;
}
.bannern1 p,.bannern2 p,.bannern3 p,.bannern4 p,.bannern5 p,.bannern6 p,.bannern7 p,.bannern8 p{
    font-size:13px;
    color:#e62318;
    margin-top:8px;
}
.bannern1 p a,.bannern2 p a,.bannern3 p a,.bannern4 p a,.bannern5 p a,.bannern6 p a,.bannern7 p a,.bannern8 p a{
    color:#666;
    text-decoration: none;
    font-size:14px;
}
.bannern1 p a:hover,.bannern2 p a:hover,.bannern3 p a:hover,.bannern4 p a:hover,.bannern5 p a:hover,.bannern6 p a:hover,.bannern7 p a:hover,.bannern8 p a:hover{
    color:#e62318;
}
.banner-1,.banner-2,.banner-3,.banner-4{
    position: relative;
}

.banner-p1,.banner-p2,.banner-p3,.banner-p4{
    background:#ddb788;
    border:1px solid #ddb788;
    padding:0 4px;
    border-radius:3px;
}
.banner-p1,.banner-p4{
    position: absolute;
    left:10px;
    top:10px;
}
.banner-p2,.banner-p3{
    position: absolute;
    left:20px;
    top:10px;
}
.banner-p1 a,.banner-p2 a,.banner-p3 a,.banner-p4 a{
    color:#fff;
    font-size:14px;
    text-decoration: none;
}
/* 2. */
.bannern2{
    display: none;
}
/* 3. */
.bannern3{
    display: none;
}

/* 4. */
.bannern4{
    display: none;
}
/* 5. */
.bannern5{
    display: none;
}
/* 6. */
.bannern6{
    display: none;
}
/* 7. */
.bannern7{
    display: none;
}
/* 8. */
.bannern8{
    display: none;
}
/* 卧室各种轮播 */
.bed-room1 div,.bed-room2 div,.bed-room3 div,.bed-room4 div,.bed-room5 div,.bed-room6 div,.bed-room7 div,.bed-room8 div{
    display: inline-block;
    text-align:center;
}
.br-left1,.br-left2{
    margin:0 11.2px;
}
.bed-room1 p,.bed-room2 p,.bed-room3 p,.bed-room4 p,.bed-room5 p,.bed-room6 p,.bed-room7 p,.bed-room8 p{
    font-size:13px;
    color:#e62318;
    margin-top:8px;
}
.bed-room1 p a,.bed-room2 p a,.bed-room3 p a,.bed-room4 p a,.bed-room5 p a,.bed-room6 p a,.bed-room7 p a,.bed-room8 p a{
    color:#666;
    text-decoration: none;
    font-size:14px;
}
.bed-room1 p a:hover,.bed-room2 p a:hover,.bed-room3 p a:hover,.bed-room4 p a:hover,.bed-room5 p a:hover,.bed-room6 p a:hover,.bed-room7 p a:hover,.bed-room8 p a:hover{
    color:#e62318;
}
.broom-1,.broom-2,.broom-3,.broom-4{
    position: relative;
}

.broom-p1,.broom-p2,.broom-p3,.broom-p4{
    background:#ddb788;
    border:1px solid #ddb788;
    padding:0 4px;
    border-radius:3px;
}
.broom-p1,.broom-p4{
    position: absolute;
    left:10px;
    top:10px;
}
.broom-p2,.broom-p3{
    position: absolute;
    left:20px;
    top:10px;
}
.broom-p1 a,.broom-p2 a,.broom-p3 a,.broom-p4 a{
    color:#fff;
    font-size:14px;
    text-decoration: none;
}
/* 2. */
.bed-room2{
    display: none;
}
/* 3. */
.bed-room3{
    display: none;
}

/* 4. */
.bed-room4{
    display: none;
}
/* 5. */
.bed-room5{
    display: none;
}
/* 6. */
.bed-room6{
    display: none;
}
/* 7. */
.bed-room7{
    display: none;
}
/* 8. */
.bed-room8{
    display: none;
}